@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Dashboard title */
.VisualizeR {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  display: inline-block;
}

/* Dashboard logo in Home */
.Logo {
  float: right;
  padding: 0 20px;
  width: 20%;
}

/* Headings 3 */
h2{
  margin: 10px 25px 0 25px;  
}

/* Paragraphs */
p{
  font-family: Arial;
  font-size: 20px;
  text-align: justify;
  margin: 10px 20px 0 20px; 
}

/* Choose theme picker input */
.Theme_changer{
  margin: -15px 0 0 20px;
}

/* Choose theme picker input */
.Data_Selecter{
  margin: -15px 0 0 20px;
}

.lattice_icon{
  color: #F1C40F;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  margin: 0 0 0 20px;
  z-index:900;
}


